.bgImg {
    background: linear-gradient(to top right, hsl(78, 72%, 49%, 0.25), rgba(255, 255, 255, 0.8) 75%),
    url("../../public/images//court.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}